<div class="container-fluid">

  <ngb-tabset>

    <ngb-tab *ngFor="let courseType of courseTypes">

      <ng-template ngbTabTitle>
        <div (click)="getCourses(courseType.taxonomyId)" class="navtab {{ courseType.bgr }}">
          {{ courseType.title }}
        </div>
      </ng-template>

      <ng-template ngbTabContent>

        <div class="row coursetable border-{{ courseType.bgr }}">

          <div class="col"
               *ngFor="let dId of dateIds">

            <h2 class="courseday">{{ courses[dId].title }}</h2>
            <div *ngFor="let course of courses[dId].data">

              <!-- Corona Mode -->
              <a *ngIf="corona"
                 target="_blank"
                 href="{{course.zoom}}"
                 class="bgr {{ course.bgrClass }}">
                <ng-template #popContent>{{ course.notes }}</ng-template>
                <div class="course">
                  <h3>{{ course.title }} <span *ngIf="course.notes">*</span></h3>
                  {{ course.starttime }} - {{ course.endtime }} / {{ course.place }} <span
                  *ngIf="course.level">/ {{ course.level }}</span>
                </div>
              </a>

              <!-- Standard Mode -->
              <a *ngIf="!corona"
                 href="https://www.hochschulsport-koeln.de/node/{{ course.nId }}"
                 class="bgr {{ course.bgrClass }}">

                <ng-template #popContent>{{ course.notes }}</ng-template>
                <div [ngbPopover]="popContent"
                     popoverTitle="{{ course.title }}"
                     triggers="manual" #p="ngbPopover"
                     (mouseenter)="course.notes && p.open()" (mouseleave)="p.close()">

                  <div class="course">
                    <h3>{{ course.title }} <span *ngIf="course.notes">*</span></h3>
                    {{ course.starttime }} - {{ course.endtime }} / {{ course.place }} <span
                    *ngIf="course.level">/ {{ course.level }}</span>
                  </div>

                </div>
              </a>
            </div>

          </div>

        </div>

      </ng-template>

    </ngb-tab>

  </ngb-tabset>

</div>
