@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 12px;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.coursetable {
  padding-left: 15px;
  padding-right: 15px;
}

.courseday {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
  padding-left: 6px;
}

.course,
.course h3 {
  font-size: 12px;
}

.course h3 {
  font-size: 12px;
  font-weight: bold;
}

.bgr {
  padding: 5px;
  margin: 2px;
}

.bgr-yellow {
  background-color: rgba(229, 195, 0, 0.15);
}

.bgr-yellow:hover {
  background-color: rgba(229, 195, 0, 1);
}

.bgr-orange {
  background-color: rgba(254, 142, 22, 0.15);
}

.bgr-orange:hover {
  background-color: rgba(254, 142, 22, 1);
}

.bgr-red {
  background-color: rgba(178, 34, 34, 0.25);
}

.bgr-red:hover {
  background-color: rgba(178, 34, 34, 1);
}

.bgr-pink {
  background-color: rgba(195, 79, 124, 0.15);
}

.bgr-pink:hover {
  background-color: rgba(195, 79, 124, 1);
}

.bgr-purple {
  background-color: rgba(127, 92, 146, 0.15);
}

.bgr-purple:hover {
  background-color: rgba(127, 92, 146, 1);
}

.bgr-darkblue {
  background-color: rgba(71, 71, 163, 0.15);
}

.bgr-darkblue:hover {
  background-color: rgba(71, 71, 163, 1);
}

.bgr-lightblue {
  background-color: rgba(0, 113, 175, 0.25);
}

.bgr-lightblue:hover {
  background-color: rgba(0, 113, 175, 1);
}

.bgr-cyan {
  background-color: rgba(0, 135, 135, 0.25);
}

.bgr-cyan:hover {
  background-color: rgba(0, 135, 135, 1);
}

.bgr-green {
  background-color: rgba(0, 128, 0, 0.05);
}

.bgr-green:hover {
  background-color: rgba(0, 128, 0, 1);
}

.bgr-lightgreen {
  background-color: rgba(165, 190, 39, 0.15);
}

.bgr-lightgreen:hover {
  background-color: rgba(165, 190, 39, 1);
}

.col {
  padding-right: 1px;
  padding-left: 0;
}

.popover-header {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: white;
}

.popover-body {
  font-size: 12px;
}
